<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css" />
        <link rel="icon" href="/img/weather.png" />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
                    {{>header}}
        <h2>This is an About Page</h2>
        </div>

         {{>footer}}
    </body>
</html>
